.box_filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	.list_filter {
		flex: 1;
		display: flex;
		align-items: center;
		gap: 8px;
		overflow: auto;
		padding-bottom: 4px;

		& > * {
			flex-shrink: 0;
		}

		&::-webkit-scrollbar {
			height: 6px;
		}
	}

	.resetFilter {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
