.forgotPassword {
	width: 100%;

	.form {
		margin-top: 24px;
	}

	h3 {
		color: #1a1b2d;
		font-size: 34px;
		font-weight: 700;
	}

	p {
		color: #6f767e;
		font-size: 14px;
		font-weight: 500;
	}
}
